# Railway PostgreSQL Connection
DATABASE_URL=postgresql://neondb_owner:npg_4vD5CPZjYBTx@ep-twilight-unit-amlfkxv1-pooler.c-5.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require&uselibpqcompat=true

# JWT Secret for authentication
JWT_SECRET=littleKittyGotMe22Times

# Node Environment
NODE_ENV=development

# Client URL for CORS
CLIENT_URL=https://esms-main.vercel.app/
